<div class="header-new header-container">
<h2>Edit <%= @cocktail.name %></h2>
</div>

<div class="form-container">
  <%= render 'form', cocktail: @cocktail %>
</div>

<div class="back-link">
  <%= link_to "Back to Cocktails", cocktails_path %>
</div>
