<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="address">
    <a href="https://goo.gl/maps/Pw6rrf8aJcPSujta8" target="_blank">425 W 15TH ST, NEW YORK, NY 10011</a>
  </div>
</div>
