.form-container {
  font-family: 'David Libre', serif;
  color: white;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.form-text {
  font-family: 'David Libre', serif;
  color: white;
  margin-left: 17px;
  margin-top: 45px;
  h4 {
    font-family: 'David Libre', serif;
    color: white;
    font-size: 18px;
  }
  a {
    font-family: 'David Libre', serif;
    color: white;
    font-size: 18px;
  }
}

.add-ingredient-form {
  margin-left: 17px;
  margin-top: 45px;
  h4 {
    font-family: 'David Libre', serif;
    color: white;
    font-size: 18px;
  }
  a {
    font-family: 'David Libre', serif;
    color: white;
    font-size: 18px;
  }
}
